.h1h2, .link, .ps, label, .link2, .redes, .h3index {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.h1h2 {
  color: #2f4e18;
  text-decoration: underline;
  text-align: center; }

.h1size {
  font-size: 2.5rem; }

.espacio {
  margin-top: 3rem; }

.link {
  text-decoration: none;
  color: antiquewhite;
  background-color: #466946;
  padding: 0.5rem;
  border-radius: 1rem; }

.tran2 {
  font-size: 24px;
  transition: all 1s; }

.tran2:hover {
  font-size: 35px; }

.h1h2, .link, .ps, label, .link2, .redes, .h3index {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.h1h2 {
  color: #2f4e18;
  text-decoration: underline;
  text-align: center; }

.h1size {
  font-size: 2.5rem; }

.espacio {
  margin-top: 3rem; }

.link {
  text-decoration: none;
  color: antiquewhite;
  background-color: #466946;
  padding: 0.5rem;
  border-radius: 1rem; }

.tran2 {
  font-size: 24px;
  transition: all 1s; }

.tran2:hover {
  font-size: 35px; }

.h1h2, .link, .ps, label, .link2, .redes, .h3index {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.footerl {
  font-size: 25px;
  transition: all 2s; }

.footerl:hover {
  font-size: 40px;
  color: #41721e; }

.redes2 {
  width: 50px;
  height: 50px; }

.h1h2, .link, .ps, label, .link2, .redes, .h3index {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.fotos {
  text-align: center; }

.cuadro21 {
  text-align: center; }

.fotomedida {
  width: 560px;
  height: 315px; }

.medidac1 {
  width: 560px;
  height: 315px; }

.medidac2 {
  width: 150px;
  height: 150px; }

.medidac3 {
  width: 600px;
  height: 450px; }

.micono {
  width: 140px;
  height: 140px; }

.cicono {
  text-align: left; }

.log {
  display: inline; }

.body1 {
  background-image: linear-gradient(to right top, #293421, #454f3a, #626c56, #818a73, #a2aa91); }

#grad {
  background-image: linear-gradient(to right top, #626c56, #818a73, #a2aa91); }

.fondocajas {
  background-color: #a8a8a8;
  margin: 40px 25px 30px 25px;
  padding: 15px;
  border-radius: 1rem; }

.ps {
  color: black;
  font-size: 17px;
  margin: 18px 26px 25px 40px;
  border-radius: 5px; }

label {
  color: black;
  font-size: 17px; }

#form {
  color: black;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 25px; }

.borde {
  border: 2px solid black; }

.borde2 {
  border: 1px solid black; }

.formest {
  padding: 10px;
  background-color: #466946;
  border-radius: 10px;
  margin-bottom: 7px; }

.formest2 {
  border-radius: 10px; }

.iframeradius {
  border-radius: 10px; }

.ajusteform {
  width: 180px; }

.cuadro {
  border: 2px solid; }

.cuadro2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px; }

.link2 {
  text-decoration: none;
  font-size: 18px;
  color: antiquewhite; }

.navi {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.navi2 {
  display: flex;
  justify-content: space-around; }

.redes {
  display: flex;
  justify-content: right; }

ul {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.formulario1 {
  margin: 15px; }

.texto {
  width: 70%; }

.centrado1 {
  margin-left: 25%;
  margin-right: 25%; }

.stan {
  display: flex;
  justify-content: space-around; }

.h3index {
  color: #0a0909;
  transition: all 2s;
  font-size: 28px; }

.h3index:hover {
  font-size: 40px;
  color: #2f4e18; }

.grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.grid4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.alargue {
  width: 100%;
  text-align: center;
  font-size: 25px;
  transition: all 2s; }

.alargue:hover {
  font-size: 32px;
  color: white; }

#locacion {
  border-radius: 10px; }

@media (min-width: 120px) and (max-width: 550px) {
  .medidas {
    width: 250px;
    height: 120px; }
  .cuadro2 {
    display: block;
    text-align: center; }
  #locacion {
    width: 280px;
    height: 250px; }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); }
  .fotomedida {
    width: 400px;
    height: 230px; } }

@media (min-width: 551px) and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr; }
  #unico {
    margin-top: 10px;
    font-size: 1.8rem; }
  .grid4 {
    grid-template-rows: repeat(2, 0.5fr); }
  .cuadro2 {
    display: block;
    text-align: center; }
  .medidas {
    width: 460px;
    height: 250px; }
  #locacion {
    width: 450px;
    height: 300px; }
  .grid3 {
    grid-template-columns: repeat(1, 1fr); }
  .grid2 {
    grid-template-columns: repeat(1, 1fr); }
  .margenfoto {
    margin-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr; }
  #unico {
    font-size: 1.5rem; }
  .grid4 {
    grid-template-rows: repeat(2, 0.5fr); }
  .cuadro2 {
    display: block;
    text-align: center; }
  #locacion {
    width: 500px;
    height: 350px; }
  .grid3 {
    grid-template-columns: repeat(1, 1fr); }
  .grid2 {
    grid-template-columns: repeat(1, 1fr); }
  #formulario {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px; }
  .margenfoto {
    margin-bottom: 15px; } }

@media (min-width: 993px) and (max-width: 1243px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr; }
  .grid4 {
    grid-template-rows: repeat(2, 0.5fr); }
  .cuadro2 {
    display: block;
    text-align: center; }
  .margenfoto {
    margin-bottom: 15px; } }

@media (min-width: 993px) {
  .grid {
    grid-template-rows: 0.5fr 2fr; } }
