$colores:
#293421,
#454f3a,
#626c56,
#818a73,
#a2aa91,
#2f4e18,
rgb(0, 0, 0),
antiquewhite,
rgb(70, 105, 70),
rgb(32, 105, 25),
rgb(10, 9, 9),
white,
#41721e,
rgb(129, 156, 107),
rgb(11, 75, 24);

$medidas:
2.5rem,
17px,
18px,
26px,
25px,
40px,
5px,
30px,
15px,
1rem,
17px,
2px,
100%,
0.5rem,
24px,
1s,
35px,
50px,
2rem,
3rem,
70%,
2s,
28px,
/*Grids*/
1fr,
0.5fr,
2fr,
10px,
32px,
/*Media Queries*/
767px,
1,
2,
1.8rem,
460px,
250px,
450px,
300px,
20px,
768px,
992px,
1.5rem,
500px,
350px,
993px,
1243px;

$textalign:
center;

$fontfamily:
'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;

$textdeco:
underline,
none;

$display:
flex,
grid,
block;

$border:
dashed,
solid;

$justifycontent:
space-around,
right;

$transition:
all;