@import "listas";
@import "header";
@import "footer";
@import "extend";
@import "mixin";


.body1{
    background-image: linear-gradient(to right top, nth($colores, 1), nth($colores, 2), nth($colores, 3), nth($colores, 4), nth($colores, 5));
}

label{
    color: nth($colores, 7);
    font-size: nth($medidas, 11);
    @extend %font;
}

#form{
    color: black;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 25px; }
.borde{
    border: 2px solid black;
}
.borde2{
    border: 1px solid black;
}
.formest{
    padding: 10px;
    background-color: nth($colores, 9);
    border-radius: 10px;
    margin-bottom: 7px;
}
.formest2{
    border-radius: 10px;
    background-color: rgb(134, 175, 139);
}
.iframeradius{
    border-radius: 10px;
}
.cuadro{
    border: nth($medidas, 12) nth($border, 2);
}
.cuadro2{
    display: nth($display, 1);
    justify-content: nth($justifycontent, 1);
    margin-bottom: nth($medidas, 6);
}
.cuadro21{
    text-align: nth($textalign, 1);
}
 

.link2{
    text-decoration: nth($textdeco, 2);
    @extend %font;
    font-size: nth($medidas, 3);
    color: nth($colores, 8);
}

.navi{
    margin-left: nth($medidas, 1);
    margin-right: nth($medidas, 1);
}
.navi2{
    display: nth($display, 1);
    justify-content: nth($justifycontent, 1);
}
.redes{
    @extend %font;
    display: nth($display, 1);
    justify-content: nth($justifycontent, 2);
}

ul{
    list-style: nth($textdeco, 2);
    display: nth($display, 1);
    justify-content: nth($justifycontent, 1); 

}


.formulario1{
    margin: nth($medidas, 9);
}

.texto{
    width: nth($medidas, 21);
}
.stan{
    
    display: nth($display, 1);
    justify-content: nth($justifycontent, 1);
    
}
.h3index{
    @extend %font;
    color: nth($colores, 11);
    transition: nth($transition, 1) nth($medidas, 22);
    font-size: nth($medidas, 23);
    
}
.h3index:hover{
   font-size: nth($medidas, 6);
   color: nth($colores, 6);
}
.grid{
    @include grid1(nth($display, 2),nth($medidas, 24) nth($medidas, 25) nth($medidas, 24) , nth($medidas, 24) nth($medidas, 26), nth($medidas, 27))

}
.grid2{
    @include grid1(nth($display, 2),repeat(nth($medidas, 31), nth($medidas, 24)), nth($medidas, 24),nth($medidas, 27))
    
}
.grid3{
    @include grid1(nth($display, 2),repeat(nth($medidas, 31), nth($medidas, 24)),nth($medidas, 24),nth($medidas, 27))
}
.grid4{
    @include grid2(nth($display, 2),nth($medidas, 24), nth($medidas, 27))
}

.alargue{
    width: nth($medidas, 13);
    text-align: nth($textalign, 1);
    font-size: nth($medidas, 5);
    transition: nth($transition, 1) nth($medidas, 22);
}

.alargue:hover{
    font-size: nth($medidas, 28);
    color: nth($colores, 12);
}

#locacion{
    border-radius: nth($medidas, 27);
}

@media (min-width: nth($medidas, 46)) and (max-width: nth($medidas, 47)) {
    .medidas{
        width: nth($medidas, 45);
        height: nth($medidas, 46);
    }
    .cuadro2{
        display: nth($display, 3);
        text-align: nth($textalign, 1);
    }
    #locacion{
        width: nth($medidas, 49);
        height: nth($medidas, 36); 
    }
    .grid {
        grid-template-columns: nth($medidas, 24);
        grid-template-rows: repeat(nth($medidas, 31), nth($medidas, 24));
        }
}
@media (min-width: nth($medidas, 48)) and (max-width:  nth($medidas, 29)) {
    .grid{
        grid-template-columns: nth($medidas, 24) nth($medidas, 24) nth($medidas, 24);
        grid-template-rows: nth($medidas, 25) nth($medidas, 26);
    }
    #unico{
        margin-top: nth($medidas, 27);
        font-size: nth($medidas, 32);
    }
    .grid4{
        grid-template-rows: repeat( nth($medidas, 31), nth($medidas, 25));
    }
    .cuadro2{
        display: nth($display, 3);
        text-align: nth($textalign, 1);
    }
    .medidas{
        width: nth($medidas, 33);
        height: nth($medidas, 34);
    }
    #locacion{
        width: nth($medidas, 35);
        height: nth($medidas, 36); 
    }
    .grid3{
        grid-template-columns: repeat(nth($medidas, 30), nth($medidas, 24));
    }
    .grid2{
        grid-template-columns: repeat(nth($medidas, 30), nth($medidas, 24));
    }
    .margenfoto{
        margin-bottom: nth($medidas, 37);
    }
    
   
}


@media (min-width: nth($medidas, 38)) and (max-width: nth($medidas, 39)) {
    .grid{
        grid-template-columns: nth($medidas, 24) nth($medidas, 24) nth($medidas, 24);
        grid-template-rows: nth($medidas, 25) nth($medidas, 26);
        
    }
    #unico{
        font-size: nth($medidas, 40);
    }
    .grid4{
        grid-template-rows: repeat(nth($medidas, 31),nth($medidas, 25));
    }
    .cuadro2{
        display: nth($display, 3);
        text-align: nth($textalign, 1);
    }
    #locacion{
        width: nth($medidas, 41);
        height: nth($medidas, 42);
    }
    .grid3{
        grid-template-columns: repeat(nth($medidas, 30), nth($medidas, 24));
    }
    .grid2{
        grid-template-columns: repeat(nth($medidas, 30), nth($medidas, 24));
    }
    #formulario{
        text-align: nth($textalign, 1);
        margin-left: nth($medidas, 18);
        margin-right: nth($medidas, 18);
    }
    .margenfoto{
        margin-bottom: nth($medidas, 9);
    }
}

@media (min-width: nth($medidas, 43)) and (max-width: nth($medidas, 44)) {
    .grid{
        grid-template-columns: nth($medidas, 24) nth($medidas, 24) nth($medidas, 24);
    }
    .grid4{
        grid-template-rows: repeat(nth($medidas, 31), nth($medidas, 25));
    }
    .cuadro2{
        display: nth($display, 3);
        text-align: nth($textalign, 1);
    }
    .margenfoto{
        margin-bottom: nth($medidas, 9);
    }
  
}

@media (min-width: nth($medidas, 43)) {
    .grid{
        grid-template-rows: nth($medidas, 25) nth($medidas, 26);
    }
}
