@import "listas";
@import "components/header";
@import "components/footer";
@import "components/extend";
@import "components/mixin";
@import "components/medidas";
@import "components/mediaqueries";


.body1{
    background-image: linear-gradient(to right top, nth($colores, 1), nth($colores, 2), nth($colores, 3), nth($colores, 4), nth($colores, 5));
}
#grad{
    background-image: linear-gradient(to right top, nth($colores, 3), nth($colores, 4), nth($colores, 5));
}
.fondocajas{
    background-color: nth($colores, 16);
    margin: nth($medidas, 6) nth($medidas, 5) nth($medidas, 8) nth($medidas, 5);
    padding: nth($medidas, 9);
    border-radius: nth($medidas, 10);
}
.ps{
    color: nth($colores, 7);
    font-size: nth($medidas, 2);
    @extend %font;
    margin: nth($medidas, 3) nth($medidas, 4) nth($medidas, 5) nth($medidas,6);
    border-radius: nth($medidas, 7);
}
.borde{
    border: nth($medidas, 12) nth($border, 2) nth($colores, 7);
}
.borde2{
    border: nth($medidas, 52) nth($border, 2) nth($colores, 7);
}
.cuadro{
    border: nth($medidas, 12) nth($border, 2);
}
.cuadro2{
    display: nth($display, 1);
    justify-content: nth($justifycontent, 1);
    margin-bottom: nth($medidas, 6);
}
ul{
    list-style: nth($textdeco, 2);
    display: nth($display, 1);
    justify-content: nth($justifycontent, 1); 
}
.iframeradius{
    border-radius: nth($medidas, 27);
}
.h3index{
    @extend %font;
    color: nth($colores, 11);
    transition: nth($transition, 1) nth($medidas, 22);
    font-size: nth($medidas, 23);
    
}
.h3index:hover{
   font-size: nth($medidas, 6);
   color: nth($colores, 6);
}
label{
    color: nth($colores, 7);
    font-size: nth($medidas, 11);
    @extend %font;
}

.stan{
    
    display: nth($display, 1);
    justify-content: nth($justifycontent, 1);
    
}

#form{
    color: nth($colores, 7);
    text-decoration: nth($textdeco, 1);
    text-align: nth($textalign, 1);
    margin-bottom: nth($medidas, 5); 
}
.formest{
    padding: nth($medidas, 27);
    background-color: nth($colores, 9);
    border-radius: nth($medidas, 27);
    margin-bottom: nth($medidas, 53);
}
.formest2{
    border-radius: nth($medidas, 27);
}
.ajusteform{
    width: nth($medidas, 54);
}

.alargue{
    width: nth($medidas, 13);
    text-align: nth($textalign, 1);
    font-size: nth($medidas, 5);
    transition: nth($transition, 1) nth($medidas, 22);
}
.alargue:hover{
    font-size: nth($medidas, 28);
    color: nth($colores, 12);
}

.navi{
    margin-left: nth($medidas, 1);
    margin-right: nth($medidas, 1);
}
.navi2{
    display: nth($display, 1);
    justify-content: nth($justifycontent, 1);
}

.grid{
    @include grid1(nth($display, 2),nth($medidas, 24) nth($medidas, 25) nth($medidas, 24) , nth($medidas, 24) nth($medidas, 26), nth($medidas, 27))

}
.grid2{
    @include grid1(nth($display, 2),repeat(nth($medidas, 31), nth($medidas, 24)), nth($medidas, 24),nth($medidas, 27))
    
}
.grid3{
    @include grid1(nth($display, 2),repeat(nth($medidas, 31), nth($medidas, 24)),nth($medidas, 24),nth($medidas, 27))
}
.grid4{
    @include grid2(nth($display, 2),nth($medidas, 24), nth($medidas, 27))
}

