.body1{
    
    background-image: linear-gradient(to right top, #293421, #454f3a, #626c56, #818a73, #a2aa91);
}
.h1h2{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #2f4e18;
   text-decoration: underline;
   text-align: center;
}
.h1size{
    font-size: 2.5rem;
}
.ps{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 18px 26px 25px 40px;
}

label{
    color: white;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cuadro{
    border: 2px solid;
}
.cuadro2{
    display: flex;
    justify-content: space-around;
}
 
.logo{
    width: 100%;
}
.link{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: antiquewhite;
}

.link2{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: antiquewhite;
}
.redes{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: right;
}
.redes2{
   width: 50px;
   height: 50px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around; 

}
.borde{
    border-style: dashed;
    border-color: rgb(32, 105, 25);
    padding: 2rem;
    margin-top: 2rem; 
}
.texto{
    width: 70%;
}
.stan{
    
    display: flex;
    justify-content: space-around;
    
}
.h3index{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 9, 9);
    transition: all 2s;
    font-size: 28px;
    
}
.h3index:hover{
   font-size: 40px;
   color: #2f4e18;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.grid3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.grid4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.alargue{
    width: 100%;
    text-align: center;
    font-size: 25px;
    transition: all 2s;
}

.alargue:hover{
    font-size: 32px;
    color: white;
}

.footerl{
    font-size: 25px;
    transition: all 2s;
}
.footerl:hover{
    font-size: 40px;
    color: #41721e;
}
#grad{
    background-image: linear-gradient(rgb(129, 156, 107), rgb(11, 75, 24));
}