@import "/scss/listas";

.fotos{
    text-align: nth($textalign, 1);
}
.cuadro21{
    text-align: nth($textalign, 1);
}
.fotomedida {
    width: 560px;
    height: 315px;
 }
.medidac1{
    width:nth($medidas, 56);
    height:nth($medidas, 57);
}
.medidac2{
    width:nth($medidas, 58);
    height:nth($medidas, 58);
}
.medidac3{
    width:nth($medidas, 59);
    height:nth($medidas, 35);
}
.micono{
    width:nth($medidas, 60);
    height:nth($medidas, 60);
}
.cicono{
    text-align: nth($textalign, 2);
}
.log{
    display: nth($display, 4);
}
