@import "/scss/listas";

.fotos{
    text-align: nth($textalign, 1);
}
.cuadro21{
    text-align: nth($textalign, 1);
}
.fotomedida {
    width:nth($medidas, 56);
    height:nth($medidas, 57);
 }
.medidac1{
    width:nth($medidas, 56);
    height:nth($medidas, 57);
}
.medidac2{
    width:nth($medidas, 58);
    height:nth($medidas, 58);
}
.medidac3{
    width:nth($medidas, 59);
    height:nth($medidas, 35);
}
.micono{
    width:nth($medidas, 60);
    height:nth($medidas, 60);
}
.cicono{
    text-align: nth($textalign, 2);
}
.log{
    display: nth($display, 4);
}
.formulario1{
    margin: nth($medidas, 9);
}

.texto{
    width: nth($medidas, 21)
}
.centrado1{
    margin-left: nth($medidas, 55);
    margin-right: nth($medidas, 55);
}
#locacion{
    border-radius: nth($medidas, 27);
}
